<div class="container">
  <div class="drop-zone">
    <div class="Title">
        Upload Your image
    </div>
    <div class="Subtitle">
        File should be Jpeg, Png...
    </div>
    <div class="dragAndDrop" id="drop-zone">
      <input id="fileInput"
             #fileInputRef
             type="file"
             accept="image/*" hidden>
      <img src="../../assets/mountains.jpg" />
      <h3>
        Drag & Drop your image here.
      </h3>
    </div>
    <div class="upload-image">
      <p>Or</p>
    </div>
    <div class="chooseFile">
      <button (click)="fileInputRef.click()" class="btn-primary" type="button">Choose a file</button>
    </div>
  </div>
  <footer class="devBy">
    created by
    <span style="text-decoration: underline;"> Nahuel Nievas</span>
    - devChallenges.io
  </footer>
</div>
